@import "../../variables.css";

.button {
    color: var(--gray-3);
    border: 1px solid var(--gray-1);
    border-radius: calc(var(--sm) / 6);
    padding: calc(var(--sm) / 2);
    cursor: pointer;
    background-color: #fff;
}

.button:hover {
    background-color: #f4f4f4;
}

.button:disabled {
    color: var(--gray-1);
    border: 1px solid var(--gray-1);
}

.button:disabled:hover {
    cursor: not-allowed;
}

.warning {
    color: var(--warning);
    border: 1px solid var(--warning);
}

.button.warning:focus {
   outline: none;
}

.button.info:focus {
    outline: none;
 }

 .button.danger:focus {
    outline: none;
 }

.button:focus {
    background-color: #f0f0fb;
}

.danger {
    color: var(--danger);
    border: 1px solid var(--danger);
}

.info {
    color: var(--info);
    border: 1px solid var(--info);
}

.with-icon svg {
    margin-right: 0.5rem;
}
