@import "../../variables.scss";

.accordion {
    width: 100%;
    font-family: "Open Sans", sans-serif;

    .head {
        min-height: 0.5rem;
        background-color: $gray-2;
        border-bottom: 1px solid $gray-3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-left: $sm / 2;
        cursor: pointer;

        > .icon {
            margin-right: $sm / 2;
        }
    }

    .item {
        min-height: 1rem;
        background-color: $gray-1;
        padding: $sm;
    }

    .body {
        max-width: calc(100% - 1rem);
        min-height: 1rem;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }
}