$default: #fff;
$danger: #e63946;
$warning: #ff9f1c;
$info: #007bff;
$gray-1: #bfbfbf;
$gray-2: #969696;
$gray-3: #7b7b7b;
$gray-4: #555;
$sm: 1rem;
$m: 2rem;
$l: 4rem;
$xl: 8rem;
$xxl: 16rem;
$xxxl: 24rem;