$default: #fff;
$danger: #E63946;
$warning: #FF9F1C;
$info: #007bff;
$grey-1: #bfbfbf;
$grey-2: #969696;
$grey-3: #7b7b7b;
$grey-4: #555;
$sm: 1rem;
$m: 2rem;
$l: 4rem;
$xl: 8rem;
$xxl: 16rem;
$xxxl: 24rem;
